    <div class="user-details">
        <h1> Nuestros Servicios</h1>
         <p> {{site.user_description}} </p>

    </div>
    <div class="user">
        <div class="tech">
            <!-- <div class"Informes"> -->
             <h2>Elaboración de Informes</h2>
             <img alt="Investigación" src="{{ "/assets/img/informes.jpg" | prepend: site.baseurl }}" />
            <!-- <i class="devicon-pycharm-plain"></i> -->
            <!-- <i class="devicon-python-plain"></i> -->
            <!-- <i class="devicon-sass-original colored"></i> -->
            <p>Ofrecemos la posibilidad de tomar decisiones eficientes a partir de procesar de manera concluyente grandes volúmenes de información. Realice su actividad
            comercial de manera segura gracias a informes que le permitan conocer de manera estructurada y visualmente accesible resultados del contexto actual de mercado.
            </p>
        </div>
    <div class="tech">
        <h2>Soporte en Investigación</h2>
        <img alt="Informes" src="{{ "/assets/img/articulosytesis.jpg" | prepend: site.baseurl }}" />
        <p>Muchas veces potenciar una idea de investigación requiere manejar un gran volumen de datos y a su vez extraer una gran cantidad de medidas estadísticas.
            A partir del manejo de distintos softwares te ofrecemos soporte metodológico, estadístico y de redacción científica,
            de esta manera podrás desarrollar de manera eficiente tus artículos y tesis académicas. </p>
    </div>
    <div class="tech">
        <h2>Elaboración de Bases de Datos</h2>
        <img alt="BaseDatos" src="{{ "/assets/img/panaderia_basede_datos_pequeña.jpg" | prepend: site.baseurl }}" />
        <p>El desarollo cotidiano de la actividad comercial puede conllevar un ritmo frenético de distintas informaciones, cartera de clientes, proveedores, control de stocks, balances y un sinfín de variables a tener a en cuenta.
            Es por esto que te ofrecemos la elaboración de bases de datos que te permitan llevar un control eficiente y
            actualizado de tu gestión comercial. </p>
    </div>
    </div>

<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
