 <div class="user-details">
  <h1> Quienes somos</h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Soporte Investigación</h2>
         <img alt="Investigación" src="{{ "/assets/img/busqueda.jpg" | prepend: site.baseurl }}" />
      <!-- <i class="devicon-pycharm-plain"></i> -->
      <!-- <i class="devicon-python-plain"></i> -->
      <!-- <i class="devicon-sass-original colored"></i> -->
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Elaboración de Informes</h2>
         <img alt="Informes" src="{{ "/assets/img/cientifico.jpg" | prepend: site.baseurl }}" />
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
   <div class="tech">
      <h2>Elaboración de DataSets</h2>
         <img alt="BaseDatos" src="{{ "/assets/img/base.jpg" | prepend: site.baseurl }}" />
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    
</div>
