<div class="user-details">
  <h1>Nosotros</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="UNC" src="{{ "/assets/img/pabellon.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>  </h3>
    <ul>
      <!-- <li> Featured Skills</li> -->
    </ul>
    <p>
Somos un equipo de investigación formado en la Universidad Nacional de Córdoba, Argentina. Nos especializamos en el área metodológica, 
      en la  elaboración y análisis de bases de datos, y en la redacción científica de informes y tesis. Como herramienta trabajamos con
      distintos  programas estadístico informáticos. </p>
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="cba" src="{{ "/assets/img/cba.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Desde Córdoba hacía el mundo </h3>
    <ul>
      <!-- <li> Featured Skills</li> -->
    </ul>
    <p>La gente juega lolito y no lee. Habría que poner algo estoy viendo como queda con un texto más corto.</p>
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
  
  <div class="user-projects">
      <div class="flourish-embed flourish-hierarchy" data-src="visualisation/5007886"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
  </div>
</div>
  
 
</div>
