 <div id="particles-js1">
    
<div class="user-details"> <h1>Nosotros</h1>
        <p> Somos un equipo de investigación formado en la Universidad Nacional de Córdoba, Argentina. Nos especializamos en el área metodológica,
            en la  elaboración y análisis de bases de datos, y en la redacción científica de informes y tesis. Como herramienta trabajamos con
            distintos  programas estadístico informáticos. </p>
    </div>

<!--
  <div class="user-projects">
    <div class="images-right">
      <!--<img alt="UNC" src="{{ "/assets/img/pabellon.jpg" | prepend: site.baseurl }}" />
    </div>
  <div class="contents">
    <h3>  </h3>
    <ul>
      <!-- <li> Featured Skills</li> -->
</ul>
<!-- <a class="project-link" href="#">Check it out</a>
</div>
</div>
<div class="user-projects">
<div class="images-left">
<!--<img alt="cba" src="{{ "/assets/img/cba.jpg" | prepend: site.baseurl }}" />
</div>
<div class="contents-right">
<!-- <h3> Desde Córdoba hacía el mundo </h3>
<ul>
  <!-- <li> Featured Skills</li>
</ul>
<!--<p>La gente juega lolito y no lee. Habría que poner algo estoy viendo como queda con un texto más corto.</p> -->
<!-- <a class="project-link" href="#">Check it out</a>
</div>
</div>
</div>
</div>
-->
<div class="user-details">
    <h1> Habilidades Destacadas</h1>
</div>
<div class="user">
    <div class="tech">
        <img alt="Investigación" src="{{ "/assets/img/spss.png" | prepend: site.baseurl }}" />
    </div>
    <div class="tech">
        <div class="skills">
            <img alt="Investigación" src="{{ "/assets/img/excel.png" | prepend: site.baseurl }}" />
        </div>
    </div>
    <div class="tech">
        <div class="skills">
            <img alt="Investigación" src="{{ "/assets/img/tableau.png" | prepend: site.baseurl }}" />
        </div>
    </div>
    <div class="tech">
        <div class="skills">
            <img alt="Investigación" src="{{ "/assets/img/flourish.png" | prepend: site.baseurl }}" />
        </div>
    </div>
</div>
<div class="user-details">
    <h1>Datos de Interés</h1>
    <h2>Exportaciones Provincia de Córdoba en el año 2019</h2>
    <div class="flourish-embed" data-src="story/739207"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
    <h2>Impacto COVID-19 en el turismo del Aeropuerto Internacional de Córdoba</h2>
    <div class="flourish-embed" data-src="story/739315"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
</div>
  </div>
<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
