<div class="user-details">
  <h1> Formados en la Universidad Nacional de Córdoba </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="UNC" src="{{ "/assets/img/pabellon.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Project Title </h3>
    <ul>
      <!-- <li> Featured Skills</li> -->
    </ul>
    <p>La gente juega lolito y no lee. Habría que poner algo estoy viendo como queda con un texto más corto.</p>
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="cba" src="{{ "/assets/img/cba.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <!-- <li> Featured Skills</li> -->
    </ul>
    <p>La gente juega lolito y no lee. Habría que poner algo estoy viendo como queda con un texto más corto.</p>
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
